@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Dictionary<int, Post>

<h2>Lista postów</h2>
<a asp-action="Create" asp-controller="Post" class="btn btn-primary">Dodaj Nowy Post</a>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Zawartość</th>
        <th>Autor</th>
        <th>Data publikacji</th>
        <th>Akcje</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value.Content</td>
            <td>@item.Value.Author</td>
            <td>@item.Value.PublicationDate.ToString("d")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Key" class="btn btn-primary">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Key" class="btn btn-danger">Usuń</a>
                <a asp-action="Details" asp-route-id="@item.Key" class="btn btn-danger">Szczegóły</a>
            </td>
        </tr>
    }
</table>
